body {
    padding-bottom: 0;
}

#content {
    min-height: 72%;
}

img.logo {
    height: 60px;
    margin: 10px 0;
}
.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
}
#navbar>.nav>li {
    font-size: 16px;
    font-weight: bold;
    margin: 15px 0;
}
a {
    color: #ee264d !important;
}
a:hover {
    color: #F298A8 !important;
}

/* CAROUSEL */
.carousel-control:link {
    color: #fff !important;
}
/* END: CAROUSEL */

ul.icon-links {
    list-style: none;
    font-size: 32px;
    padding: 10px 0;
    margin-top: 20px;
    overflow: hidden;
}
ul.icon-links li {
    float: left;
    margin-right: 20px;
}

/* FOOTER */
.footer {
    padding-top: 20px;
    margin-top: 20px;
    width: 100%;
    background-color: #f5f5f5;
}
/* END: FOOTER */
